ActivityMap_recording.vcxproj
ActivityMap_recording.vcxproj.filters
ActivityMap_recording.vcxproj.user
Debug/ActivityMap_recording.Build.CppClean.log
Debug/ActivityMap_recording.exe.intermediate.manifest
Debug/ActivityMap_recording.lastbuildstate
Debug/ActivityMap_recording.log
Debug/ActivityMap_recording.obj
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/link.command.1.tlog
Debug/link.read.1.tlog
Debug/link.read.2.tlog
Debug/link.write.1.tlog
Debug/mt.command.1.tlog
Debug/mt.read.1.tlog
Debug/mt.write.1.tlog
Debug/vc100.idb
Debug/vc100.pdb
